.card-header{
    background-color:#c62828; 
    font-size:25px;
  

}
#pic{
    background-color:#c62828;    
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: center;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: rgb(160, 30, 30);
        }

       

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* //enquiry */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1040;
    top: 0;
    left: 0;
    background-color: #11111170;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.MySidePopupBtn {
    font-size: 25px;
    cursor: pointer;
    position: fixed;
    right: 0;
    margin-left: -40px;
    top: 40%;
    transform: rotate(270deg);
    z-index: 1035;
    text-transform: uppercase;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.text-white {
    color: #fff !important;
}

.pl-3, .px-3 {
    padding-left: 1rem !important;
}

.p-1 {
    padding: .25rem !important;
}



.sidenav .closebtn {
    position: absolute;
    top: 7px;
    right: 15px;
    font-size: 36px;
    margin-left: 0px;
    color: #fff;
  
    line-height: 0.651;
}
/* //slider app component */
.line {
    width: 100%;    
    
}
.row-equal .card {
    width: 100%;
 }
 
 /* ensure equal card height inside carousel */
 .carousel-inner>.row-equal.active, 
 .carousel-inner>.row-equal.next, 
 .carousel-inner>.row-equal.prev {
     display: flex;
 }
 
 /* prevent flicker during transition */
 .carousel-inner>.row-equal.active.left, 
 .carousel-inner>.row-equal.active.right {
     opacity: 0.5;
     display: flex;
 }
 
 
 /* control image height */
 .card-img-top-250 {
     max-height: 250px;
     overflow:hidden;
 }

 .marquee{
	background-color:#b71c1c;
	font-size: 18px;
	color:white;
	

}
.card-header {
    font-size: 20px;
    color:white;
}
.card-body a{
    font-size: 20px;
    color:black;
    text-decoration:none;

}
.card-body {
    font-size: 20px;
    color:black;
    text-decoration:none;

}
.card-footer a{
    color:white;
}