<!--<div>
        <ul class="navbar-nav">
            <div class="row">
            <div class="col-lg-6">
           
           </div>
           <div class="col-lg-4">
           
           </div>
           <div class="col-lg-2">
           
       </div>       
       </div> -->
       <!-- <li class="nav-item active text-right">
           <span><i class="fa fa-phone">&nbsp;&nbsp;(+91) 9717767797</i></span><br>
           <span><i class="fa fa-envelope" >&nbsp;&nbsp;nirmanias07@gmail.com</i></span>
      </li>
       -->

       <div class="row bg-danger" id="nav">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <a class="nav-link" href="">
                          <span><i class="fa fa-phone">&nbsp;&nbsp;(+91) 9717767797</i></span>
                        </a>
                        <!-- <li class="nav-item active">
                                <a class="nav-link" href="" ><img src="../assets/LOGO FINAL.png" width="200px" height="50px"></a>
                            </li> -->
                        
               </div>
               <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                       
                    <a class="nav-link" href="">
                            <span><i class="fa fa-envelope" >&nbsp;&nbsp;nirmanias07@gmail.com</i></span>
                          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a class="nav-link" href="">
                        <span><i class="fa fa-clock-o">&nbsp;opening: 10:00am-07:00pm</i> </span>
                </a>
        </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-right p-2 pr-2">
                    <a class="btn-info p-2  mr-0"  href=""><small>हिंदी</small></a>
                    <a class="btn-info  p-2  ml-0"  href=""><small>ENG</small></a>
                </div>
            </div>
        
    <!-- 
    <nav class="navbar navbar-expand-lg">
     <ul class="navbar-nav">
        <div class="row">
         <div class="col-lg-6">
        
        </div>
        <div class="col-lg-4">
        
        </div>
        <div class="col-lg-2">
        
    </div>       
    </div>
    </ul>
    </nav> -->
    <div class="wrapper">
            <nav id="sidebar">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar-header float-left">
                  <img src="../assets/LOGO FINAL.png" width="150px" height="50px">
                   
                </div>
    
                <ul class="list-unstyled components">
                   
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"routerLink='/home'>Home</a>
                        <!-- <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="">Home 1</a>
                            </li>
                            <li>
                                <a href="">Home 2</a>
                            </li>
                            <li>
                                <a href="">Home 3</a>
                            </li>
                        </ul>
                    </li> -->
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <!-- <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Current Affairs</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="">Page 1</a>
                            </li>
                            <li>
                                <a href="">Page 2</a>
                            </li>
    
                            <li>
                                <a href="">Page 3</a>
                            </li>
                        </ul>
                    </li> -->
                    <li>
                        <a href="">Contact</a>
                    </li>
                    <li>
                      <a href=""routerLink='/Enquiry'>Enquiry</a>
                  </li>
                  <li>
                      <a href=""routerLink='/InsertEnquiry'>InsertEnquiry</a>
                  </li>
                </ul>
            </div>   
            </div>
            </nav>
            <div id="content">
             <button type="button" id="sidebarCollapse" class="btn btn-danger fixed-top">
                        <i class="fa fa-bars"></i>        
                    </button>
                    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#" ><img src="../assets/LOGO FINAL.png" width="200px" height="50px"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </nav> -->
                 <router-outlet>                
                </router-outlet>
                <div>
            
                        <p  class="marquee"> <marquee>Test series for UPSC Main Exam 2019 (Online,Offline)
                            Comprehensive All India Test Series for IAS Prellms & Mains -2019 </marquee></p>
                       
                    </div>
                </div>
        </div>
        <!-- SocialIcon -->
           <div class="icon-bar">
                   <a href="#" class="facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                   <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                   <a href="#" class="google"><i class="fa fa-google" aria-hidden="true"></i></a>
                   <a href="#" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                   <a href="#" class="youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
           </div>
               <!--chat-->
               <!-- <div class="open-button" onclick="openForm()"><i class="far fa-comment fa-3x" style="color:red;"></i></div>
               <div class="chat-popup" id="myForm">
                   <form action="#" class="form-container">
                       <h1>Chat Box</h1>
               
                       <label for="msg"><b>Message</b></label>
                       <textarea placeholder="Type message.." name="msg" required></textarea>
               
                       <button type="submit" class="btn">Send</button>
                       <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                   </form>
               </div>  -->
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fixed-top" style="position:fixed;">
            
                    <div class="open-button" onclick="openForm()"><i class="fa fa-comment fa-5x" style="color:red;"></i></div>
            
                    <div class="chat-popup" id="myForm">
            
                        <div class="card form-container">
                            <div class="text-right">
                                <i class="fa fa-window-minimize" aria-hidden="true"></i>
                                
                                <div class="btn cancel btn-danger" onclick="closeForm()">
                                    
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </div>
                                </div>
                            <div class=" card-header bg-danger">
                                <img src="./assets/LOGO FINAL.png" class="img-thumbnail" />
                            </div>
                            <div class="card-body">
                                <textarea placeholder="Hello" name="msg" required></textarea>
                            </div>
                            <div class="card-footer bg-danger text-center">
                                <div class="col-lg-10">
                                    <input type="text" id="txtmessage" class="form-control" placeholder="Typeing" />
                                </div>
                                <div class="col-lg-2 text-left">
                                    <button type="submit" class="fa fa-arrow-circle-right fa-2x" style="margin-right:20px;">
                                       
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               <!--enquiry-->
        <div id="mySidenav" class="sidenav">
            <div class="ContactForm">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="color:red "><i class="fa fa-window-close bg-danger "></i></a>
                <div class="pb-4 w-100 bg-white" style="max-width:270px;">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12"><br>
                            <img src="../assets/LOGO FINAL.png" class="img-thumbnail">
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="img-thumbnail pl-3 pr-3" style="font-size: 13px;min-height: 362px;background-color: #ffffffc4;">
                                <form action="#" enctype="multipart/form-data" method="post">
                                    <fieldset>
                                        
                                        <div class="form-group has-info">
                                         <input type="text" id="txtName" name="txtName" value="" class="form-control " placeholder="Enter full name" required="">
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="form-group has-info">
                                         
                                            <input type="text" name="txtPopMobileNo" id="txtPopMobileNo"  pattern="^\d{10}$" class="form-control" maxlength="10" placeholder="Enter mobile" required="">
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="form-group has-info">
                                          
                                            <input type="email" name="txtEmailID" id="txtEmailID" value="" class="form-control " placeholder="Enter email" required="">
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="form-group has-info">
                                                <select class="form-control">
                                                    <option>----Enquiry Type----</option>
                                                                    <option>------UPSC-------</option>
                                                                    <option>-------CGL---------</option>
                                                </select>
                                                <div class="clearfix"></div>
                                            </div>
                                        
                                        <div class="form-group has-info">
                                            
                                            <textarea name="txtMessage" id="txtMessage" rows="3" class="form-control" placeholder="Enter your message" required=""></textarea>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="row-fluid">
                                            <div style="text-align:center;">
                                                <button type="submit" class="btn btn-primary btn-social "> <i class="fa fa-share-square-o" aria-hidden="true"></i> SUBMIT </button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <button type="button" class="MySidePopupBtn btn btn-primary" onclick="openNav()">Enquiry</button>
        
     <!--footer  -->
           <footer id="tagg">
             <div class="container-fluid">
               <div class="row bg-dark">
           <!-- Footer Links -->
                   <div class="container text-center text-md-left ">
           
                       <!-- Grid row -->
                       <div class="row mt-3 bg-dark-text">
           
                           <!-- Grid column -->
                           <div class="col-md-2 col-lg-2 col-xl-2 ">
           
                               <!-- Links -->
           
           
                               <p>
                                   <a class="text-white" href="!">Know About Us</a>
                               </p>
                               <p>
                                   <a class="text-white" href="!">Contact Us</a>
                               </p>
                               <p>
                                   <a class="text-white" href="!">Addmission</a>
                               </p>
                               <p>
                                   <a class="text-white" href="!">Fees</a>
                               </p>
           
           
                           </div>
                          
                           <!-- Grid column -->
                           <div class="col-md-2 col-lg-2 col-xl-2">
           
                               <!-- Links -->
           
           
                               <p>
                                   <a class="text-white" href="!">About</a>
                               </p>
                               <p>
                                   <a class="text-white" href="!">Cereers</a>
                               </p>
                               <p>
                                   <a class="text-white" href="!">Help</a>
                               </p>
                               <p>
                                   <a class="text-white" href="!">Location</a>
                               </p>
           
           
                           </div>
                           <div class="col-md-2 col-lg-2 col-xl-2">
                               <p>
                                   <a class="text-white" href="!">Courses</a>
                               </p>
                               <p class="text-white">
                                   ReadMore
                               </p>
                               <p>
                                   <a class="text-white" href="!">Location</a>
                               </p>
                               <p>
                                   <a class="text-white" href="!">Contact Us</a>
                               </p>
                           </div>
                           <div class="col-md-2 col-lg-2 col-xl-2">
                               <p>
                                   <a class="text-white" href="!">Help</a>
                               </p>
                               <p>
                                   <a class="text-white" href="!">Center</a>
                               </p>
                               <p>
                                   <a class="text-white" href="!">Number</a>
                               </p>
                           </div>
                           <div class="col-md-2 col-lg-2 col-xl-2">
           
                               <p>
                                   <a class="text-white" href="!">Help</a>
                               </p>
                               <p>
                                   <a class="text-white" href="!">Latest News</a>
                               </p>
                               <p>
                                   <a class="text-white" href="!">cantact</a>
                               </p>
           
                           </div>
                           <div class="col-lg-2 col-md-2 col-sm-2">
                                <a class="nav-link" href="" ><img src="../assets/LOGO FINAL.png" width="100%" height="100%"></a>
                            <br>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.1457016622494!2d77.21383991456158!3d28.715191387086925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfe0a9f71d55d%3A0x6b8b117585dfc0c1!2sNirman+IAS!5e0!3m2!1sen!2sin!4v1545377773309" width="100%" height="50%" frameborder="0"  allowfullscreen></iframe>
                           </div>
                       </div>
                     </div>
                     </div>
                
                     </div>
           </footer>